<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详细信息</title>
    <!-- 引入Semantic-ui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/tocbot.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <style>
        .img-size-d{
            width: 800px !important;
            height: 100% !important;
        }
    </style>
</head>
<body>

    <!-- 导航 -->
    <nav class="ui inverted attached segment main-mini m-shadow-small">
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui blue header item">G搬运站</h2>
          <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于</a>
          <div class="right m-item item m-mobile-hide">
            <div class="ui inverted input transparent">
              <input type="text" placeholder="搜索...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- 手机按钮开关 -->
      <a href="" class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="bars icon"></i>
      </a>

    </nav>
  <!-- 中间部分 -->
  
    <div class=" m-padded-tb-big animated pulse">
        <div class="ui container">
            <div class="ui top ">
                <div class="ui link list horizontal  ">
                    <div class="item ">
                      <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif" alt="" class="ui avatar image">
                      <div class="content"><a href="#" class="header">嘿黑酱</a></div>
                    </div>
                    
                    <div class="item">
                        <i class="clock outline icon"></i> 2020-6-22
                      </div>
                      <div class="item">
                        <i class="thumbs up outline icon"></i> 4681
                        
                      </div>
                      <div class="item">
                        <i class="thumbs down outline icon"></i> 0
                    </div>
             </div>     
            <div class="ui segment attached padded ">
                
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label">
                        转载
                    </div>
                </div> 
                <h2 class="">黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析</h2>
            </div>     
            
            <!-- 展示图   -->
            <div class="ui attached segment ">
                <img src="../static/img/316-1F50QI305.jpg" alt="" class="ui fluid image  rounded">
            </div>
            
            <!-- 内容区 -->
            <div class="ui attached segment js-toc-content ">
                <div id="content" class="m-c-padded-mobile typo typo-selection">
                    <p style="text-indent:2em;">
                        <strong>1：灰烬墓地</strong> 
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421G605-21.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        钟声响起后，主角从墓地的石棺里爬出来，进入奇幻的冒险旅途。
                    </p>
                    <p style="text-indent:2em;">
                        注意调查地上的红色痕迹，会得到系统的提示讯息，对你的操作进行提示。
                    </p>
                    <p style="text-indent:2em;">
                        这里你要学习移动、转换视角、战斗动作等基础操作。
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421J038-22.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        往前遭遇第一个敌人，这里练习一下左右手武器的攻击和重击，鼠标的左右键分别是左右手的普通攻击，若是攻击的同时按下Shift键则是相应的重攻击。
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421MM2-23.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        在杀掉敌人后记得搜刮尸体，能得到一些道具，比如灵魂、药瓶等等。
                    </p>
                    <p style="text-indent:2em;">
                        灵魂相当于经验值，可用于角色的升级。
                    </p>
                    <p style="text-indent:2em;">
                        在不远处的一只花坛的尸体上拾取原素灰瓶，它可恢复角色的专注值。
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421M1D-24.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        遇到背对的敌人时，可从身后施展致命一击。
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421G5b-25.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        按键盘空格（手柄B）是跳跃和翻滚，用这个动作可以躲避敌人的近身攻击和远程箭矢。
                    </p>
                    <p style="text-indent:2em;">
                        键盘F键（手柄Y）则是双手持单一武器。
                    </p>
                    <p align="center">
                        <img alt="黑暗之魂3 图文全攻略 全流程场景收集全BOSS战解析" width="600" src="https://img.3dmgame.com/uploads/allimg/160412/19421L519-26.jpg" /> 
                    </p>
                    <p style="text-indent:2em;">
                        注意在上山坡前，往右侧探索峡谷找到一条河道，调查地上的信息会劝你“折返”吧。
                    </p>
                    <p style="text-indent:2em;">
                        不过你执意前行会遭遇一只强大的敌人，尽管初期的装备和攻击不行，但若是躲避及时，攻击得当，还是能够击杀它的。
                    </p>
                </div>


                <!-- 赞赏 -->
                <div class="ui center aligned segment basic">                    
                    <button id="payButton" class="ui basic button green circular">
                        <i class="yen sign icon"></i>赞赏
                    </button>
                </div>
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui  column divided center aligned grid">
                        <div class="ui green basic label">
                            <div class="ui images">
                                <div class="image">
                                    <img src="../static/img/公众号二维码.jpg" alt="" class="ui image rounded bordered" style="width: 120px;">
                                </div>
                                <div class="image">
                                    <img src="../static/img/公众号二维码.jpg" alt="" class="ui image rounded bordered" style="width: 120px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                 

                <div class="ui message positive attached">
                    <div class="ui middle aligned grid">
                         <div class="eleven wide column">
                            <ui class="ui list">
                               <li>作者 ：嘿黑酱</li>
                               <li>时间 ：2020-6-24</li>
                               <li>版权申明 ：自由转载,如需转载请标明出处,禁止商用 ! ! !</li>
                               <li>(搬运队长)预留空位</li>
                            </ui>
                        </div>
                        <div class="five wide column ">
                            <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif" alt="" class="ui rounded floated right bordered image " style="width: 120px;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 留言区域 -->
            <div id="comment-container" class="ui bottom attached segment">
                <div class="ui blue segment">
                    <div class="ui comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                          <a class="avatar">
                            <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif">
                          </a>
                          <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                              <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                              How artistic!
                            </div>
                            <div class="actions">
                              <a class="reply">回复</a>
                            </div>
                          </div>
                        </div>
                        <div class="comment">
                          <a class="avatar">
                            <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif">
                          </a>
                          <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                              <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                              <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                              <a class="reply">回复</a>
                            </div>
                          </div>
                          <div class="comments">
                            <div class="comment">
                              <a class="avatar">
                                <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif">
                              </a>
                              <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                  <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                  Elliot you are always so right :)
                                </div>
                                <div class="actions">
                                  <a class="reply">回复</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="comment">
                          <a class="avatar">
                            <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif">
                          </a>
                          <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                              <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                              Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                              <a class="reply">回复</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                
                <div class=" ui form">
                    <div class="field">
                        <textarea name="content" id="" placeholder="输入评论..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-bottom m-mobile-wide">
                            <div class="ui left icon input ">
                                <i class="user icon"></i>
                                <input type="text" placeholder="姓名" name="nickname">
                            </div>
                        </div>                    
                        <div class="field m-mobile-bottom m-mobile-wide">
                            <div class="ui left icon input ">
                                <i class="mail icon"></i>
                                <input type="text" placeholder="邮箱" name="nickname">
                            </div>
                        </div> 
                        <div class="field m-mobile-bottom m-mobile-wide">
                            <button class="ui blue button m-mobile-bottom m-mobile-wide"><i class="edit icon"></i>评论</button>
                        </div>
                    </div>
                </div>
            </div>


        <!-- 上下页 -->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                 <a href="" class="ui button blue basic mini">上页</a>
                </div>
                <div class="column right aligned">
                 <a href="" class="ui button blue basic mini">下页</a>
                </div>
            </div>
        </div>

            
            
           
        </div>
    </div>

    <!-- 目录 -->
    <div class="m-fixed m-right-bottom m-padded-huge">
      <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc blue button">目录</button>
        <a href="#comment-container" class="ui blue button">留言</a>
        <button class=" ui blue button icon " ><i class="weixin icon"></i></button>
        <a href="#" class="ui blue button"><i class="chevron up icon"></i></a>
      </div>
    </div>

    <div class="ui toc-container flowing popup transition hidden" style="width: 250px !important ;">
      <ol class="js-toc">
        
      </ol>
  </div>
    
            
            
            

<br>
    <!-- 底部 -->
 <footer class="ui inverted segment vertical m-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
          <div class="three wide column">
            <div class="ui inverted link item">
              <div class="item">
                <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif" class="ui rounded image" alt="" style="width: 80px;">
              </div>
            </div>
          </div>

          <div class="three wide column m-all-textcss">
              <h4 class="ui inverted header ">最新博客</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
              </div>
          </div>

          <div class="three wide column m-all-textcss">
            <h4 class="ui inverted header">最新博客</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
              </div>
          </div>
          <div class="seven wide column m-all-textcss">
            <h4 class="ui inverted header ">最新博客</h4>
            <p>这是我第一次做！！！</p>
          </div>
        </div>
        <div class="ui inverted section divider">
          <p class="m-p-text-thin m-text-spaced m-text-lined m-opacity">GY搬运站 最终版权归原网站所有。 本网站在翻译过程中若有任何侵权行为，请联系xxxxxxxxxx@qq.com，我们定将及时处理。</p>
        </div>
    </div>
      
 </footer>
    
</body>
<script src="../static/js/tocbot.min.js"></script>
<!-- 引入jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!-- 引入Semantic-ui -->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script src="../static/js/main.js"></script>

<script>
  //赞助支付微信信息
$('#payButton').popup({
    popup : $('.payQR.popup'),
    on : 'click',
    position : 'bottom center'
});


$('.toc.button').popup({
    popup : $('.toc-container.popup'),
    on : 'click',
    position : 'left center'
});



tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.js-toc-content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
  // For headings inside relative or absolute positioned containers within content.
  hasInnerContainers: true,
});
</script>




</html>