<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!-- 引入Semantic-ui -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <!-- 导航 -->
    <nav class="ui inverted attached segment main-mini m-shadow-small">
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui blue header item">G搬运站</h2>
          <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>更新</a>
          <div class="right m-item item m-mobile-hide">
            <div class="ui inverted input transparent">
              <input type="text" placeholder="搜索...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- 手机按钮开关 -->
      <a href="" class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="bars icon"></i>
      </a>

    </nav>

  <!-- 中间部分 -->
  <div class="m-padded-tb-large">
    <div class="ui container">
      <div class="ui stackable grid">
        <!-- 左边部分 -->
        <div class="eleven wide column">
          <div class="ui top attached segment">
            <div class="ui grid middle aligned two column">
              <div class="column">
                <h3 class="ui pink header">游戏攻略</h3>
              </div>
              <div class="column right aligned">
                共<h2 class="ui orange header  m-inline-block m-p-text-thin">1</h2>篇
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="ui attached segment">
            <div class="ui segment">
              <div class="ui mobile reversed stackable grid">
                <div class="ui eleven wide column">
                  <h3 class="ui header">天津新病例初步判断是人传人</h3>
                  <p class="m-all-p-textcss">6月22日上午，在天津市新冠疫情防控工作第146场新闻发布会上，天津市疾控中心副主任张颖就天津第137例本土确诊病例的最新溯源情况进行了介绍，结合流行病学史和基因测序结果，初步判断是人传人。</p>
                <div class="ui grid">
                  <div class="eleven wide column">
                    <div class="ui link list horizontal ">
                      <div class="item">
                        <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">嘿黑酱</a></div>
                      </div>
                      <div class="item">
                        <i class="clock outline icon"></i> 2020-6-22
                      </div>
                      <div class="item">
                        <i class="thumbs up outline icon"></i> 4681
                        
                      </div>
                      <div class="item">
                        <i class="thumbs down outline icon"></i> 0
                        
                      </div>
                    </div>
                  </div>
                  <div class="five wide column right aligned main-mini-a">
                    
                    <a href="" class="ui label blue basic" target="_blank"><i class="bookmark outline icon "></i>点击收藏</a>
                  </div>
                </div>
                </div>
                
                <div class="five wide column">
                  
                  <img src="../static/img/chris-zhang-vpgmX8uggE4-unsplash.jpg" alt="" class="ui rounded image">
                  
                </div>
              </div>
            </div>

          </div>

          <!-- footer -->
          <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                 <a href="" class="ui button blue basic mini">上页</a>
               </div>
               <div class="column right aligned">
                 <a href="" class="ui button blue basic mini">下页</a>
               </div>
             </div>
           </div>
          

        </div>

        <!-- 右边部分 -->
        <div class="five wide column">

          <!-- 分类 -->
          <div class="ui segments ">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column"><a href="" style="color: rgb(24, 8, 97);"><i class="idea icon"></i>分类</a>
                </div>
                <div class="column right aligned">
                  <a href="" target="_blank">更多<i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui blue segment">
              <div class="ui fluid vertical menu">
                <a href="" class="item">游戏壁纸
                  <div class="ui blue right pointing label">0</div>
                </a>
                <a href="" class="item">游戏壁纸
                  <div class="ui blue right pointing label">0</div>
                </a>
                <a href="" class="item">游戏壁纸
                  <div class="ui blue right pointing label">0</div>
                </a>
                <a href="" class="item">游戏壁纸
                  <div class="ui blue right pointing label">0</div>
                </a>
                
              </div>
            </div>
          </div>

          <!-- 标签 -->
          <div class="ui segments m-margin-d">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                 <a style="color: red;"><i class="tags icon"></i>热搜</a>
                </div>
                <div class="right aligned column">
                  <a href="" target="_blank">更多<i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui blue segment m-margin-a">
              <a href="" target="_blank" class="ui pink basic left label">
                黑魂 3 
              </a>
              <a href="" target="_blank" class="ui yellow basic left label">
                黑魂系列 
              </a>
              <a href="" target="_blank" class="ui green basic left label">
                星球大战前传
              </a>
              <a href="" target="_blank" class="ui teal basic left label">
                黑魂 3 
              </a>
              <a href="" target="_blank" class="ui blue basic left label">
                无主之地 3 
              </a>
          </div>
        </div>
        
        <!-- 推荐 -->
        <div class="ui segments">
          <div class="ui secondary segment">
            <i class="paper plane icon"></i>社区
          </div>
          <div class="ui segment">
            <a href="https://bbs.nga.cn/" target="_blank"><img src="../static/img/NGA.png"> NGA玩家社区</a>
          </div>
          <div class="ui segment">
            <a href="https://www.3dmgame.com/" target="_blank"><img src="../static/img/3dm.png"> 3DMGAME</a>
          </div>
        </div>

        

        <!-- 关于 -->
        <div class="ui segments">
        <div class="ui top attached segment">
          <div class="ui header small">关于</div>
        </div>
        <div class="ui attached segment">
          <p class="m-all-textcss">想把自己喜欢有用的攻略整合起来放到一起，如果有侵权的地方请关注公众号，获取二维码加我微信私信我</p>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic label">
            暂定
          </div>
          <div class="ui red basic label">
            暂定
          </div>
          <div class="ui pink basic label">
            暂定
          </div>
          <div class="ui green basic label">
            暂定
          </div>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic label left pointing m-margin-b">
            暂定
          </div>
          <div class="ui red basic label left pointing m-margin-b">
            暂定
          </div>
          <div class="ui pink basic label left pointing m-margin-b">
            暂定
          </div>
          <div class="ui green basic label left pointing m-margin-b">
            暂定
          </div>
        </div>
        <div class="ui bottom attached segment">
          <a href="#" class="ui circular button icon"><i class="icon github"></i></a>
          
          <a href="#" class="ui qq circular button avatar icon " data-title="QQ" data-content="3223854136"><i class="icon qq"></i></a>
        </div>
          
      </div>
      

      <!-- 公众号二维码 -->
      <h4 class="ui horizontal divider header">扫码关注公众号</h4>
      <div class="ui card">
        <img src="../static/img/QR%20Code.png" alt="" class="ui rounded image">
      </div>
    </div>

    </div>
  </div>
    
            
            
            

  <br>
    <!-- 底部 -->
 <footer class="ui inverted segment vertical m-massive ">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
          <div class="three wide column">
            <div class="ui inverted link item">
              <div class="item">
                <img src="../static/img/5a4a272dd42a283428c0f8cf5ab5c9ea14cebfa7.gif" class="ui rounded image" alt="" style="width: 80px;">
              </div>
            </div>
          </div>

          <div class="three wide column m-all-textcss">
              <h4 class="ui inverted header ">最新博客</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
              </div>
          </div>

          <div class="three wide column m-all-textcss">
            <h4 class="ui inverted header">最新博客</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
                <a href="#" class="item">用户故事(User Story)</a>
              </div>
          </div>

          <div class="seven wide column m-all-textcss">
            <h4 class="ui inverted header ">最新博客</h4>
            <p>这是我第一次做！！！</p>
          </div>
        </div>

        <div class="ui inverted section divider">
          <p class="m-p-text-thin m-text-spaced m-text-lined m-opacity">GY搬运站 最终版权归原网站所有。 本网站在翻译过程中若有任何侵权行为，请联系xxxxxxxxxx@qq.com，我们定将及时处理。</p>
        </div>
    
    </div>
 </footer>
    
</body>

<!-- 引入jquery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="../static/js/main.js"></script>

<!-- 引入Semantic-ui -->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
  $('.qq')
  .popup({ })
;
</script>

</html>